
html .container, section {
  background-color: beige !important;
}
section {
  padding: 20px !important;
}
.spacer-40 {
  height: 40px;
}
.spacer-20 {
  height: 20px;
}
.spacer-10 {
  height: 10px;
}
#tracker {
  margin: -25px;
}
#tracker canvas {
  height: 15px;
  width: 15px;
}
#tracker canvas.active {
  height: 25px;
  width: 25px;
}
.controls {
  text-align: center;
}
#phase, #stars {
  font-size: 20px;
  color: #444;
}
.acard {
  height: 90px;
}
.ccard {
  height: 95px;
}
.acard.message {
  margin-bottom: 0 !important;
}
.acard .message-header {
  height: 30px;
}
.acard .message-body {
  height: 60px;
  text-align: center;
}
.ccard .message-body {
  height: 60px;
  padding: 0;
}
.ccard table {
  background-color: transparent;
}
#ccard[data-is-combat='true'] {
  border: 2px solid red;
}
.message.is-success .message-header {
  background-color: #4A692E;
}
.message.is-danger .message-header {
  background-color: #8D3B1D;
}
.message-body {
  color: #444 !important;
  line-height: 32px;
}
.container {
  max-width: 505px !important;
}

.card-annotation {
  font-size: 32px;
  vertical-align: top;
  font-weight: bold;
}
.or-slash {
  margin-right: 2px;
}
