
html .container, section {
  background-color: beige !important;
}
section {
  padding: 20px !important;
  height: 100%;
}
.spacer-40 { height: 40px; }
.spacer-20 { height: 20px; }
.spacer-10 { height: 10px; }

#tracker {
  margin: -25px;
}
#tracker canvas {
  height: 15px;
  width: 15px;
}
#tracker canvas.active {
  height: 25px;
  width: 25px;
}
.controls {
  text-align: center;
}
#phase, #stars {
  font-size: 20px;
  color: #444;
}
#faction-insignia {
  text-align: center;
  margin: 5px 0 -25px;
}
.cardmeta { font-style: italic; }
.acard { height: 90px; }
.acard.message { margin-bottom: 0 !important; }
.acard .message-header { height: 30px; }
.acard .message-body {
  height: 60px;
  text-align: center;
}

.ccard { height: 95px; }
.ccard table { background-color: transparent; }
#ccard[data-is-combat='true'] { border: 2px solid red; }
.ccard .message-body {
  height: 60px;
  padding: 0;
}
.ccard .icon-canvas.combat-card {
  width: 18px;
  height: 18px;
}
#combat-card-actions table td, 
#combat-card-actions table th{
  width: 20%;
  text-align: center;
}
.message.is-success .message-header { background-color: #4A692E; }
.message.is-danger  .message-header { background-color: #8D3B1D; }
.message-body {
  color: #444 !important;
  line-height: 32px;
}
.container { max-width: 505px !important; }

.card-annotation {
  font-size: 32px;
  line-height: 32px;
  vertical-align: top;
  font-weight: bold;
}
.card-annotation.parens {
  line-height: 26px;
}
.or-slash { margin-right: 2px; }

@media screen and (max-width: 550px) {
  .select, .select select { width: 100% }
  .select { margin-bottom: 5px }
  .button.is-default { 
    width: 100%; 
    margin: 0 0 5px 0; }
  .button.is-pulled-right, 
  #star-panel .button { 
    width: 49% 
  }
  .container .button:first-of-type {
    float: left;
    margin-left: 0;
  }

}